<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$_lang.login.back_sys_name}></title>
<link rel="stylesheet" href="../admin/static/css/base.css" type="text/css">
<script type="text/javascript" src="../admin/static/js/jquery.min.js"></script>
<style type="text/css">
body {font-size:12px; font-family:"Courier New", Courier, monospace;}
</style>
</head>

<body>
	<table width="100%"  border="0" cellpadding="4" cellspacing="1" bgcolor="#A5D0F1">
        <tr bgcolor="#E5F9FF">
        	<td colspan="2" background="../admin/static/images/wbg.gif"><font color="#666600" class="STYLE2"><b>◆系统基本信息</b></font></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td width="25%">Erlang版本：</td>
          <td width="75%"><{$erlang_version}></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td width="25%">开发团队：</td>
          <td width="75%">管理后台</td>
        </tr>
      </table>

	<div>
    	<p>1.左侧菜单放在left.html中</p>
        <p>2.菜单中对应的模块全部放在module目录下</p>
        <p>3.所有的模块页面必须由html结尾</p>
        <p>4.通常情况下CSS和JS全部嵌入在对应的module/你的模块.html文件中即可。如果需要重用，则js文件放在/js/目录下，css放在/css/目录下</p>
        <p></p>
    </div>
</body>
</html>
